:root {
  --primario: #ffc107;
  --secundario: #0097a7;
  --oscuro: #212121;
  --max-contenedor: 1200px;
}
html {
  min-height: 100%;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(to top, #6eb5fc 0%, white 100%);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
h2,
h3 {
  text-align: center;
}
h3 {
  color: var(--secundario);
  font-size: 3rem;
  font-weight: 400;
}
p {
  font-size: 1.8rem;
  line-height: 1.6;
}
.site-header {
  background-color: white;
}
.site-header nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 475px) {
  .site-header nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.site-header nav a {
  color: var(--oscuro);
  font-size: 2rem;
}

.hero {
  height: 45rem;
  background: url("./img/hero.jpg");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contenedor-hero {
  /* position: relative; */
  text-align: center;
  color: white;
  z-index: 1;
  font-size: 2rem;
}

.boton {
  background-color: var(--secundario);
  text-decoration: none;
  padding: 1rem 5rem;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.contenedor-hero i {
  font-size: 5rem;
}

.contenedor {
  max-width: var(--max-contenedor);
  background-color: white;
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.74);
}

.servicios {
  margin: 2rem 1rem;
}
.contenedor-servicios {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .contenedor {
    margin: 2rem auto;
    padding: 3rem;
  }

  .contenedor-servicios {
    display: flex;
    justify-content: space-between;
  }
  .servicio {
    flex-direction: 0 0 calc(33.3% - 1rem);
  }
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  text-align: justify;
}

.servicio--iconos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primario);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
